main.container {
    margin: 2em 10px;
}

@media screen and (min-width: 700px) {
    .wrap {
        width: 700px;
        margin: 0 auto;
    }
    header {
        padding: 20px 100px;
        // hide the button
        .title-bar {
          display: none;
        }
    }
}

@media screen and (max-width: 700px) {
    .wrap {
        width: 100%;
    }
    header {
        padding: 0 0 20px 0;

        .title-bar {
          // display: block;
          background-color: #42b983;
          padding: 16px;
          color: #FFFFFF;
          font-size: 16px;
          position: fixed;
          width: 100%;
          top: 0;
        }
        // toggle button
        button.ltmenu {
          margin-right: 30px;
          margin-top: 4px;
          float: right;
          background-color: transparent;
          border-color: transparent;

          span {
            width: 18px;
            height: 2px;
            background: black;
            display: block;
          }
          span.icon-bar + span.icon-bar {
            margin-top: 3px;
          }
        }

        // closed
        ul.nav.nav-list {
          display: none;
        }
        a.logo-link {
          display: none;
        }
        // open
        ul.nav.nav-list.in {
          display: block;
          text-align: left;
          background-color: #F5F5F5;
          position: absolute;
          z-index: 4;
          top: 56px;
          left: 0;
          margin-top: 0;
          width: 100%;

          .nav-list-item {
            display: block;
          }
        }
        li*.scss {
            padding: 10px 10px;
        }
    }
    main.container,
    .home.post-list,
    .archive {
        margin-top: 0;
    }
    .archive .post-item {
        padding-left: 20px;
    }
    .post-content {
        h2, h3, h4, h5, h6 {
            max-width: 300px;
            left: 15px;
        }
    }
    .ds-thread,
    #disqus_thread {
        margin: 2em 10px;
    }
}
